/*! HERO !*/

.Hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
}

.bgImage {
    width: 100%;
    height: 100vh;
    background: url(../../Assets/BgImages/BgImage1.jpg) no-repeat center/cover;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;
}

.Hero .bgImage::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, .7);
    z-index: 1;
}

.Hero .Text {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.Hero .Text h1 {
    /* background: linear-gradient(90deg, rgb(0, 0, 100)
    , darkblue,blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
    color: white;
    font-size: 44px;
    font-weight: 700;
}

.Hero .Text p {
    font-size: 30px;
    width: 500px;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 1.2;
}

.Hero .Text .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Hero .Text button {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background: dodgerblue;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: all .8s ease;
}

.Hero .Text button:hover {
    background-color: blue;
}

/*! ABOUT !*/

.About{
    width: 100%;
    height: 70vh;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.About .Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.About .img img{
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.About .Texts{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid gray;
    flex-direction: column;
    gap: 16px;
}

.About .Texts h1{
    text-transform: uppercase;
    font-size: 30px;
    color: dodgerblue;
}

.About .Container .Texts .Line{
    width: 120px;
    height: 4px;
    background-color: dodgerblue;
    border-radius: 6px;
}

.About .Container .Texts .about-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}