.contact {
    background-color: var(--bg-color);
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.contact-info p {
    font-size: 1.125rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: var(--text-secondary);
}

.contact-details {
    display: flex;
    gap: 1.5rem;
    align-items: start;
    flex-wrap: wrap;
}

.contact-item {
    min-width: 328px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: 12px;
    transition: all 0.3s ease;
}

.contact-item:hover {
    transform: translateX(5px);
    box-shadow: 0 4px 12px var(--shadow);
}

.contact-icon {
    font-size: 2rem;
}

.contact-item h4 {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
    color: var(--text-color);
}

.contact-item a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: var(--accent-hover);
}

.btn-submit {
    width: 100%;
    margin-top: 1rem;
}

@media (max-width: 968px) {
    .contact-content {
        grid-template-columns: 1fr;
        gap: 2.5rem;
        width: 100%;
    }
}

@media (max-width: 968px) {
    .contact-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .contact-form-wrapper {
        padding: 1.5rem;
        width: 100%;
    }

    .contact-item {
        transform: none;
    }
}

@media (max-width: 727px) {
    .contact-details{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 727px) {
    .contact-item{
        min-width: 96%;
    }
}

@media (max-width: 360px) {
    .contact {
        width: 100%;
        /* overflow-x: hidden; */
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contact-item {
        width: 100%;
        padding: 1rem;
        transform: none;
    }

    .contact-form-wrapper {
        width: 100%;
        padding: 1rem;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 0.75rem;
    }
}

@media (max-width: 374px) {

    .form-group input,
    .form-group textarea {
        font-size: 14px;
        padding: 0.75rem;
    }
}

@media (max-width: 346px) {
    .contact-info p {
        max-width: 300px;
    }

    .contact-item .contact-icon {
        font-size: 1.5rem;
    }

    .contact-item h4 {
        font-size: 1rem;
    }

    .contact-item {
        position: relative;
        padding-bottom: 30px;
    }

    .contact-item a {
        font-size: 1rem;
        position: absolute;
        bottom: 5px;
        left: 1.1rem;
    }
}